.start-group-con {
    cursor: pointer;
}
.message-item {
    list-style-type:none;
}
.message-container {
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    background-color: #e8f5fe;
    position: relative;
    border: 5px;
    border-color: #1da1f2;
    border-style: solid;
    border-radius: 10px;
}
.message-form {
    position: absolute !important;
    bottom: 0px;
    width: 100%;
    display: block;
    cursor: pointer;
    padding-bottom: 2rem;
    border-top: 5px solid;
    border-top-color: #1da1f2;
}

.chatInput {
    width: 100%;
    height: 3rem;
    display:inline;
    border-radius:10px;
}

.sendMessage {
    background-color: #1da1f2;
    border: none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    color: white;
    display: inline;
    padding:5px;
    margin-top:2px;
}
 .sendMessage:hover {
        border: 2px solid;
        border-color: #1da1f2;
        background-color: white;
        color: #1da1f2;
    }
.mesaj-atilacak-user-name {
    height: 3rem;
    width: 100%;
    text-align: center;
    align-items: center;
    border-bottom: 5px solid;
    border-bottom-color: #1da1f2;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.message-content {
    position:relative;
}

